<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments.html :: head"></div>

<body>
<h1>Hello</h1>
<table>
	<tr>
		<th>Bid ID</th>
		<th>Bid amount</th>
		<th>Bid job</th>
		<th>Bid user</th>
	</tr>
	<tr>
		<td th:text="${bid.bidID}">Bid ID</td>
		<td th:text="${bid.bidAmount}">Bid amount</td>
		<td th:text="${bid.job.jobID}">Bid job</td>
		<td th:text="${bid.user.userID}">Bid user</td>
			</tr>
</table>
	<!-- <footer th:insert="fragments.html :: footer"></footer> -->

</body>
</html>


