<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="fragments.html :: head"></div>

<body>


<form method="POST" th:action="@{/bid(jobID=${param.jobID})}" th:object="${bid}">
<h1>Hello</h1>

<label for="bidAmount" th:text="#{newBid.bidAmount}" >Enter Bid</label>
<input min="0" required type="number" th:field="*{bidAmount}"/>
<span th:if="${#fields.hasErrors('bidAmount')}" th:errors="*{bidAmount}" >Error</span>

</form>

	<!-- <footer th:insert="fragments.html :: footer"></footer> -->

</body>
</html>


