<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns:sec="http://www.thymeleaf.org/extras/spring-security3">
<head>
<meta charset="ISO-8859-1">
<title>Home: Bidding Service</title>
</head>

<div th:insert="fragments.html :: head"></div>

<body>
	
	<header>
		<div th:insert="fragments.html :: menu"></div>
	</header>
	
	<main>
		<h1><span sec:authorize="isAuthenticated()">LOGGED IN</span></h1>
		<h1><span th:text="#{index.welcome}">WELCOME</span></h1>
	</main>

   <footer th:insert="fragments.html :: footer"></footer>
</body>
</html>