<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:insert="fragments.html :: head"></div>
<meta charset="ISO-8859-1">
<body>

<header>
		<div th:insert="fragments.html :: menu"></div>
		<h1><span th:text="#{jobs.Jobs}">Jobs</span></h1>
	</header>

	<table border="1">
	 	<tr>
			<th th:text="#{jobs.jobid}">JobID</th>
			<th th:text="#{jobs.jobname}">Job Name</th>
			<th th:text="#{jobs.jobDesc}">Job Description</th>
			<th >Job Date</th>
		</tr> 
		<tr th:each="job: ${jobs}">			
			<td th:utext="${job.jobID}">JobID</td>
 			<td th:utext="${job.jobname}">Job Name</td>
			<td th:utext="${job.jobDesc}">Job Description</td>
			<td th:utext="${job.jobDate}">Job Date</td>
		</tr>
	</table>
	
	<footer th:insert="fragments.html :: footer"></footer>

</body>
</html>
