<!DOCTYPE html>
<html xmlns:th="http://ww.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="login-page">
		<div class="form">
			<div class="error" th:if="${param.error}">Invalid username and password.</div>
			<div class="error" th:if="${param.logout}">You logged out.</div>
			<form class="login-form" method="post" th:action="@{/login}">
				<label>Email: <input type="text" name="email"/></label>
				<label>Password: <input type="password" name="password"/></label>
				<label><input type="submit" value="Sign in"/></label>
			
			</form>
		
		</div>
	</div>

</body>
</html>