<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<div th:insert="fragments.html :: head"></div>
<meta charset="ISO-8859-1">
<body>

<header>
		<div th:insert="fragments.html :: menu"></div>
		<h1>Register</h1>
	</header>
	<form id="newUserForm" method="post" th:action="@{/newuser}" th:object="${userForm}">
		<label for="name" th:text="#{newuser.name}" >Name: </label>
		<input type="text" th:field="*{name}"/><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" >Error</span> 
		<label for="email" th:text="#{newuser.email}" >Email: </label>
		<input type="text" th:field="*{email}"/><span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" >Error</span>
		<label for="password" th:text="#{newuser.password}" >Password: </label>
		<input type="text" th:field="*{password}"/><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" >Error</span>
		<label for="phoneNum" th:text="#{newuser.phoneNum}" >Phone Number: </label>
		<input type="text" th:field="*{phoneNum}"/><span th:if="${#fields.hasErrors('phoneNum')}" th:errors="*{phoneNum}" >Error</span>
		
		<br>
		<input type="submit" th:value="#{newuser.addUser}"/>
	</form>
	<!-- This message is shown if the ${duplicate} variable was created. -->
	<h3 class="error" th:if="${duplicate}" th:text="#{newuser.duplicate}">Error</h3>
	
	<footer th:insert="fragments.html :: footer"></footer>

</body>
</html>